{% extends 'home_page/layout.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<div class="container">
    <h1>Добро пожаловать на наш сайт!</h1>
    <p>Здесь вы можете найти множество полезной информации и ресурсов для обучения.</p>
    <div class="row">
        <div class="col-md-4">
            <h2>Тесты</h2>
            <p>Пройдите тесты, чтобы проверить свои знания.</p>
        </div>
        <div class="col-md-4">
            <h2>Форум</h2>
            <p>Обсудите интересующие вас темы на нашем форуме.</p>
        </div>
        <div class="col-md-4">
            <h2>Уроки</h2>
            <p>Изучите уроки и получите новые знания.</p>
        </div>
    </div>
</div>
{% endblock %}
